.Button {
  font-size: 1rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  background-color: #a59ef9;
  color: white;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.9;
  border-color: transparent;
  cursor: pointer;
  background-color: #cfc3f3;
  color: #6c757d;
}

.Button:active,
.Button:hover:active{
  background-color: #9a8cf0;
  color: #ffffff;
}

.Button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(165, 158, 249, 0.35);
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.Bright {
  background-color: #a59ef9;
  color: #ffffff;
  border-color: transparent;
}
.Blue:hover,
.Bright:hover {
  background-color: #cfc3f3;
  color: #000000;
}

.AccentFollow {
  background-color: #a59ef9;
  color: #ffffff;
  border-color: transparent;
}
.AccentFollow:hover {
  background-color: #cfc3f3;
  color: #000000;
}

.OutlineUnfollow {
  background-color: #f7f5ff;
  color: #8075e6;
}

.OutlineUnfollow:hover {
  background-color: #cfc3f3;
  color: #000000;
}