.Button {
  font-size: 1rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  background-color: #a59ef9;
  color: white;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.9;
  border-color: transparent;
  cursor: pointer;
  background-color: #947eed;
  color: white;
}

.Button:hover:active {
  background-color: #8368e2;
}

.Button:active {
  background-color: #8368e2;
}

.Button:focus {
  background-color: #947eed;
  color: white;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #a59ef9;
  color: #ffffff;
}

.BlueOutline,
.Blue:hover {
  background-color: #ffffff;
  color: #a59ef9;
}

.Black,
.BlackOutline:hover {
  background-color: #242a3d;
  color: aliceblue;
}

.Black:hover,
.BlackOutline {
  background-color: aliceblue;
  color: #242a3d;
}

.Bright {
  background-color: #a59ef9;
  color: #ffffff;
}
