.App {
    font-family: 'Fira Sans', sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
}

.Main {
    padding-top: 82px;
}

* {
    box-sizing: border-box;
}

a {
    color: #100426;
    text-decoration: none;
    padding-right: 7px;
}

a:hover {
    text-decoration: none;
    color: #FF781F;
}

a:hover i {
  color: #FF781F;
}

i {
    color: #494252;
    font-size: 1.3rem;
    padding: 3px;
    vertical-align: baseline;
}

i:hover {
    cursor: pointer;
    color: #FF781F;
}